---
import Card from "../components/card.astro";
import Layout from "../layouts/layout.astro";
const posts = Astro.glob("./posts/*.md");
---

<Layout title="Blog">
    <section class="w-auto h-full grid place-items-center dark:bg-primary bg-white text-center py-6">
      <h1 class="text-6xl font-bold text-tertiary max-sm:text-4xl">Hi, this is my Blog</h1>
      <p class="text-4xl dark:text-quaternary max-sm:text-3xl text-black">
        A place where i put my thoughts and knowledges
      </p>
      <div class="p-6 mt-7 space-y-9 lg:w-1/3 sm:w-full border-t-4 border-tertiary">
        {
          posts
            .then((x) =>
              x.map((post) => {
                if (post.url !== undefined) {
                  return (
                    <Card
                      title={post.frontmatter.title}
                      desc={post.frontmatter.description}
                      date={post.frontmatter.pubDate}
                      url={post.url}
                      />
                  );
                }
              })
            )
            .catch((err) => console.log(err))
            .catch((err) => console.error(err))
        }
      </div>
    </section>
</Layout>
